# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# caches
.eslintcache
.cache
.turbo

# storybook
storybook-static/
debug-storybook.log

# testing
/coverage

# next.js
/.next/
/out/
# next image cache
/.next/cache/

# production
/build

# misc
.DS_Store
*.pem

# backups and archives
backups/
*.tar
*.tar.gz
*.tgz
*.zip

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
